# OpenAPI specific options
OPENAI_API_KEY_1=xxx
OPENAI_API_KEY_2=yyy

# Anthropic specific options
ANTHROPIC_API_KEY_1=xxx
ANTHROPIC_API_KEY_2=yyy
#Anthropic embeddings provider
VOYAGE_API_KEY=xxx

# Google Gemini options
GEMINI_API_KEY_1=xxx

# Mistral options
MISTRAL_API_KEY_1=zzz